{% load crispy_forms_tags %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

    <!-- Header -->

<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex bd-highlight">
      <a class="navbar-brand p-2 w-100 bd-highlight" href={% url 'schema-list' %}>Schemas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse p-2 flex-shrink-1 bd-highlight" id="navbarTogglerDemo02"}>
        <a href={% url 'logout' %} role="button" class="btn btn-link ">Logout</a>
      </div>
</nav>

    <!-- Create forms -->
<body>
<div class="container pt-3">
    <form method="POST" action="{% url 'schema-create' %}" id="form-container">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <h3>Add new schema:</h3>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
         {{ schema_form|crispy }}
        <h3>Add a new column</h3>
            {{column_form.management_form}}
            {% for form in column_form %}
            <div class="column-form">
            {{form|crispy}}
            </div>
            {% endfor %}
            <button id="add-form" type="button">Add Another Column</button>
    </form>
</div>

     <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script>
            let columnForm = document.querySelectorAll(".column-form")
            let container = document.querySelector("#form-container")
            let addButton = document.querySelector("#add-form")
            let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

            let formNum = columnForm.length-1
            addButton.addEventListener('click', addForm)

            function addForm(e){
                e.preventDefault()

                let newForm = columnForm[0].cloneNode(true)
                let formRegex = RegExp(`form-(\\d){1}-`,'g')

                formNum++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                container.insertBefore(newForm, addButton)

                totalForms.setAttribute('value', `${formNum+1}`)
            }
        </script>
</body>